#body {
  font-family: "Montserrat", sans-serif;
  background: #afa299;
}

footer {
  z-index: 1;
}

.signup {
  z-index: 5;
}

h4 {
  color: orangered;
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card-img-top {
  max-height: 100%;
}

.card-img-top-top {
  max-width: 100%;
  max-height: auto;
}

h1 {
  color: orangered;
}

.card {
  justify-content: center;
  padding-right: "200px";
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.card-body {
  padding-right: "20px";
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 27, 27);
  overflow: hidden;
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.profile-card-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: orange;
}

.buttonsLog {
  text-decoration: none;
  font-size: 4vh;
  text-align: center;
  margin-left: 2vh;
  margin-top: 1vh;
  color: black;
  border-right: 1px;
  border-color: whitesmoke;
}
.buttonsLog:hover {
  color: #b7631c;
}

#navbar-nav {
  float: right;
}

#colCon {
  /* justify-content: flex-end;
  float: right; */
  color: red;
}
#words1 {
  font-size: 6vh;
  margin-right: 15%;
}

.words2 {
  color: wheat;
  font-family: "Josefin Sans", sans-serif;
}
.homePump {
  max-height: 55vh;
}
#aboutContainer {
  display: flex;
  flex-direction: row;
  background: #35203f;
  color: #bcb2aa;
}
#originPic {
  margin-top: 12vh;
  height: 12vh;
}
#frankCoffee {
  width: 50vw;
}
#how {
  height: 50vh;
  margin: 30px;
}
#global {
  max-width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
#blogContainer {
  display: flex;

  justify-content: space-around;
}
#blogImage {
  width: 25vw;
}
#blogContainer1 {
  background: #1f1f1f;
  text-align: center;
}
#blogButton {
  background: #bcb2aa;
  margin: 5vh 0;
  padding: 1vh 5vw;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
}
#global1 {
  max-width: 65vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  overflow: hidden;
}

/* mobile */
@media screen and (max-width: 990px) {
  /* howitworks component */
  #container {
    flex-direction: column;
    text-align: center;
  }
  .howItWorks {
    display: flex;
    flex-direction: column;
  }
  #mobileHIT {
    flex-direction: column;
    text-align: center;
  }
  .mobileCont {
    font-size: 4vh;
  }
  #container {
    flex-direction: column;
    text-align: center;
  }

  /* home component */
  #words1 {
    font-size: 4vh;
    margin-right: 0;
  }
  #words2 {
    font-size: 5vh;
  }
  .homePump {
    max-height: 30vh;
  }
  #aboutContainer {
    display: flex;
    flex-direction: column;
  }
  #originPic {
    height: 10vh;
  }
  #aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #frankCoffee {
    width: 100vw;
  }
  #how {
    height: 55vh;
    margin: 30px;
    max-width: 30 vw;
    margin: 30 px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #global {
    max-width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    overflow: hidden;
  }

  #blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  #blogImage {
    width: 90vw;
    padding: 5vh 0;
  }
  .mobileFooter {
    display: flexs;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #contactBox {
    width: 50vw;
  }
}

/* PARALAX HOMEPAGE STYLES */
.akHome {
  background-image: url("../images/jumboCoffee.png");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.parallax2 {
  height: 400px;
  background-image: url(../images/coffeeBreak.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#badDay {
  text-align: center;
  background-color: #bcb2aa;
  font-size: 6vh;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-bottom: 40vh;
}

.words {
  color: red;
}

/* STYLES TO CREAT HEADER */
header {
  /* position: fixed; */

  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px 8%;
  z-index: 1000;
  transition: 0.6s;
  background-color: #afa299;
  height: 100px;
  width: 100vw;
}

.nav-menu {
  opacity: 0;
  transition: 0s 2s;
}

.menu-wrap:hover .nav-menu {
  opacity: 1;
  transition: 0.4s;
}
.nav-menu {
  transition: 0.3s 0.1s;
  text-align: center;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.howItWorks {
  background-image: url(../images/howBack.png);
  background-size: cover;
  background-attachment: fixed;
}
/*██████████  ██ ██ ███    ██ ██   ██     ████████  █████  ███    ██ ██   ██ 
   ██    ██   ██ ██ ████   ██ ██  ██         ██    ██   ██ ████   ██ ██  ██  
   ██    ███████ ██ ██ ██  ██ █████          ██    ███████ ██ ██  ██ █████   
   ██    ██   ██ ██ ██  ██ ██ ██  ██         ██    ██   ██ ██  ██ ██ ██  ██  
   ██    ██   ██ ██ ██   ████ ██   ██        ██    ██   ██ ██   ████ ██   ██ */
/* THINK TANK */

.hideTitle {
  display: none;
  visibility: hidden;
}

/* hamburer test */
/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 1;
  z-index: 1;
  height: 80px;
  background: transparent;

  opacity: 0.8;
}
.boxSize {
  display: flex;
  justify-content: flex-start;
  background: whitesmoke;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 90px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:hover + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:hover + .hamburger > div:before,
.menu-wrap .toggler:hover + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:hover:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */

/* .menu-wrap .toggler:hover ~ .menu {
  visibility: visible;
  animation: fadeIn 1s ease-in-out 3s;
  animation-fill-mode: forwards;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s;
  animation-fill-mode: forwards; */
/* } */
.footer {
  background: #bcb2aa;
  color: #fff;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.center {
  padding: 30px 0;
  background: #bcb2aa;
}
#footerLinkContainer {
  display: flex;
  justify-content: space-between;
}
.footerLinks1 {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  background: #bcb2aa;
  margin: 3% 0;
  justify-content: space-between;
}
.footerLinks {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  background: #bcb2aa;
  margin: 3% 0;
}
.mobileFooter {
  background: #bcb2aa;
}
.footerTitle {
  font-size: 38px;
  font-weight: 200;
  margin-top: 6%;
  background: #bcb2aa;
}
.footerWords {
  font-size: 14px;
  color: #101010;
  margin: 15px 0px;
  text-decoration: none;
  background: #bcb2aa;
}

.button2 {
  height: 35px;
  background: #251831;
  width: 20vw;
  margin: 2vh 0;
  border-radius: 10px;
  border: none;
  color: #bcb2aa;
}
.button1 {
  height: 30px;
  background: #bcb2aa;
}
.footerColor {
  background: #bcb2aa;
}
.footerButton {
  width: 250px;
  height: 50px;
  font-size: 15px;
  margin: 45px 0px;
  background-color: #bcb2aa;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  margin-right: 12px;
}
.footerButton:hover {
  background-color: whitesmoke;
  color: #bcb2aa;
}
.copyFooter {
  font-size: 10px;
  color: gray;
  background: #bcb2aa;
  margin-top: 5vh;
}

.formCon {
  display: flex;
  flex-direction: column;
}
.contactBox {
  width: 20vw;
  margin: 2vh 0;
  border-radius: 10px;
  border: none;
  height: 35px;
}

#footerLogo {
  height: 8vh;
  margin: 4vh 0;
}
#footerLinkContainer {
  display: flex;
  flex-direction: row;
}
.socials {
  height: 6vh;
  padding-right: 3vw;
}
