body {
  background-image: url("https://www.superiorwallpapers.com/images/lthumbs/2015-06/8325_Baked-coffee-beans-HD.jpg");

  background-size: 100%;
}

footer {
  z-index: 1;
}

.signup {
  z-index: 5;
}

h4 {
  color: whitesmoke;
  align-self: flex-end;
}

.card-img-top {
  max-height: 100%;
}

.card-img-top-top {
  max-width: 100%;
  max-height: auto;
}

h1 {
  color: white;
}

.card {
  justify-content: center;
  padding-right: "200px";
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.card-body {
  padding-right: "20px";
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 27, 27);
  overflow: hidden;
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.profile-card-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: orange;
}
